<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879628172880-ou2ns5r3mgo766j0l97h2o4rv4euk1tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879628172880-ou2ns5r3mgo766j0l97h2o4rv4euk1tk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879628172880-3hapunqpd9blh78qshlj6t96em5gf0od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDR_Uw6xoTFqcaCZUiWJzIzKC8mPirQxo</string>
	<key>GCM_SENDER_ID</key>
	<string>879628172880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.uniqart.uniqart</string>
	<key>PROJECT_ID</key>
	<string>uniqart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uniqart-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879628172880:ios:5b369adfa91d9ef3019b55</string>
</dict>
</plist>