<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300632133861-t07mtp6iopvoqc7pt3tvdphoa179fh9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300632133861-t07mtp6iopvoqc7pt3tvdphoa179fh9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCq-pdXihPL-BJKI1SqJIAFBAP5CO7ISi0</string>
	<key>GCM_SENDER_ID</key>
	<string>300632133861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.uniqart.test</string>
	<key>PROJECT_ID</key>
	<string>test-uniqart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>test-uniqart-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300632133861:ios:baa68908fb65cdf6a3440c</string>
</dict>
</plist>